<div class="callout callout--primary">
  <div class="grid grid--cols-2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started&nbsp;?</h2>
      <p class="callout__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit aut
        nulla facilis quas rem repudiandae, blanditiis exercitationem sapiente
        perferendis. Cum!
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
