<section class="block domain-block">
  <div class="block__container">
    <div class="block__header">
      <h2 class="block__heading">Start at $7 per month</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        dolores esse dignissimos sunt et provident eligendi sit eius? Inventore,
        illum!
      </p>
    </div>
    <div class="input-group">
      <input
        type="search"
        class="input"
        placeholder="Enter domain name here..."
      />
      <button class="btn btn--accent">
        <svg class="icon icon--white">
          <use xlink:href="images/sprite.svg#search"></use>
        </svg>
        Search
      </button>
    </div>
    <ul class="list grid prices__grid">
      <li>.com $7</li>
      <li>.org $15</li>
      <li>.space $8</li>
      <li><span class="badge badge--primary">.net $10</span></li>
      <li>.info $9</li>
      <li>.de $12</li>
    </ul>
  </div>
</section>
