<article class="feature">
  <div class="grid grid--cols-2">
    <div class="feature__content">
      <div class="feature__icon">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#clock"></use>
          </svg>
        </span>
      </div>
      <h3 class="feature__heading">24/7 Experts Support</h3>
      <p class="feature__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
        voluptatum ut autem unde id blanditiis ipsam cum mollitia tempora hic.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/support.webp" />
      <img src="images/support.jpg" alt="" class="feature__image" />
    </picture>
  </div>
</article>
