<section class="block block--dark block--skewed-left hero">
  <div class="block__container grid grid--cols-2">
    <div class="hero__content">
      <h1 class="block__heading">Cloud hosting for Pros</h1>
      <p class="hero__tagline">Deploy your website in less than 60 seconds</p>
      <a href="#" class="btn btn--accent btn--stretched">Get Started </a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/banner.webp" />
      <source type="image/png" srcset="images/banner@700.png" />
      <img
        class="hero__image"
        src="images/banner@700.png"
        alt="image of colored servers"
      />
    </picture>
  </div>
</section>
