<div class="showcase">
  <div class="grid grid--cols-2 showcase">
    <picture class="showcase__image">
      <source
        media="(max-width : 480px)"
        srcset="images/ipad_mobile.webp"
        type="image/webp"
      />
      <source
        media="(max-width : 480px)"
        srcset="images/ipad@mobile.png"
        type="image/png"
      />
      <source type="image/webp" srcset="images/ipad.webp" />
      <img src="images/ipad.jpg" alt="" />
    </picture>
    <div class="showcase__content">
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy start and Managed updates</h3>
          <p class="media__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
            voluptatum ut autem unde id blanditiis.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy start and Managed updates</h3>
          <p class="media__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
            voluptatum ut autem unde id blanditiis.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy start and Managed updates</h3>
          <p class="media__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
            voluptatum ut autem unde id blanditiis.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
